body{
    margin: 0;
    padding:0;
    background-color: deeppink;
}
h2{
    margin-top: 0;
    font-size: 30px;
}
li{
    
    text-decoration: none;
    display: inline-block;
    line-height: 100px;
    margin-left: 60px;

}
.detail{
    
    margin-top: 0px;
    height: 130px;
    background-color: fuchsia;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    display: inline-block;
    position: relative;
    top: 50px;
    color: rgb(224, 233, 238);
    height: 300px;
    width: 400px;
}
.hotel{
    position: absolute;
    right: 180px;
    border-radius: 100%;
    height: 100px;
    width: 150px;
}
.ocean{
    position: absolute;
    border-radius: 100%;
    right: 330px;
    bottom:300px;
    height: 100px;
    width: 150px;
}
.eatery{
    position: absolute;
    border-radius: 100%;
    right: 30px;
    bottom:300px;
    height: 100px;
    width: 150px;
}

.animals{
    bottom:200px;
    position: absolute;
    right: 180px;
    border-radius: 100%;
    height: 100px;
    width: 150px;
}
a{
    text-decoration: none;
}
.content{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("wanja.jpg");
    height: 440px;
    margin-left: 0px;
    margin-right: auto;
    width: 100%;
    margin-bottom:  0%;
}
.leg{
    flex-direction:column ;
    display: flex;
    height: 100px;
    background-color: black;
    margin-bottom: 0px;
}
.legc{
    margin-right: 40px;
    display: 
    margin-top: 10px;
    margin-bottom: 0px;
    color: aliceblue;
}