body{
    
}
.top{
    
    left: 200px;
    margin-left: 0;
    background-color: rgb(202, 50, 50);
    height: 200px;
    width: 200px;

}
.midle{
    position: absolute;
    left: 208px;
    bottom: 109px;
    background-color: rgb(108, 167, 14);
    height: 200px;
    width: 200px;
}
.last{
    position: absolute;
    left:408px;
    background-color: rgb(117, 127, 221);
    height: 200px;
    width: 200px;
    top: 525px;
}
